.button {
    transition-duration: .2s;

    &:hover {
        transition-duration: .2s;
    }
}

.button.is-primary {
    background: $primary;

    &:hover {
        background: $primary-dark;
    }
}

.button.is-text {
    color: var(--color-scheme-text-color);
    background: none;

    &:hover {
        background: none;
        color: $primary-dark;
    }
}
