hr {
    background: $primary-background;
    height: 5px;
}

p, h1, h2, h3, h4, h5, h6, strong, b, i, small, .title, .subtitle {
    color: var(--color-scheme-text-color);
}

a {
    color: var(--color-scheme-text-color);

    &:hover {
        color: $primary-dark;
    }

    &.is-primary
    {
        color: $primary;

        &:hover {
            color: $primary-dark;
        }
    }
}

.list {
    background-color: var(--color-scheme-background-diff);

    &-item {
        &:not(a) {
            color: var( --color-scheme-text-color );
        }
    }
}

// Section
.section {
    padding: 5rem 1.5rem;
}

.grecaptcha-badge {
    visibility: hidden;
}
