.notification {
    margin-top: 2rem;
    & > .delete {
        max-width: 40px !important;
        min-width: 40px !important;
        max-height: 40px !important;
        min-height: 40px !important;
    }
    & > .delete::before {
        width: 5px;
        height: 50%;
    }

    & > .delete::after {
        width: 50%;
        height: 5px;
    }
}
