.footer
{
    border-top: 10px solid var(--color-scheme-background-diff);
    background-color: var(--color-scheme-background-alt);
    padding: 3rem;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .legal {
        a {
            color: $primary;
        }
    }
}
