.textarea, .input, .select > select {
    border-radius: 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $primary;
    box-shadow: none;
    &:focus, &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid $primary-dark;
    }
}
