.navbar {
    background: $primary-background;

    a.navbar-link {
        color: white;

        &:hover {
            background-color: white;
            cursor: pointer;
        }
    }

    a.navbar-item  {
        color: white;

        &:hover {
            background-color: white;
            color: darken( grey, 20% );
        }
    }

    .navbar-item.has-dropdown {
        &:hover {
            a.navbar-link {
                background-color: $primary-background;
                color: darken( grey, 20% );
            }
        }

        .navbar-dropdown {
            border-top: 2px solid $primary-background;
            a.navbar-item {
                color: darken( grey, 20% );
            }
        }
    }
}
