.navbar {
    background: $primary-background;

    a.navbar-burger {
        color: white;

        &:hover {
            color: $primary;
        }
    }

    a.navbar-link {
        color: white;

        &:hover {
            background-color: var(--color-scheme-background);
            cursor: pointer;
        }

        &:not(.is-arrowless)::after {
            border-color: $primary;
        }
    }

    a.navbar-item  {
        color: white;
        transition-duration: .2s;

        &:hover {
            background-color: var(--color-scheme-background);
            transition-duration: .2s;
            color: var(--color-scheme-text-color);
        }
    }

    .navbar-item.has-dropdown {
        &:hover {
            background-color: var(--color-scheme-background);
            a.navbar-link {
                background-color: var(--color-scheme-background);
                color: var(--color-scheme-text-color);

                &:hover {
                    background-color: var(--color-scheme-background-alt);
                }
            }
        }

        .navbar-dropdown {
            border-top-color: var(--color-scheme-background-alt);
            background-color: var(--color-scheme-background);
            border-top: 2px solid $primary-background;
            a.navbar-item {
                color: var(--color-scheme-text-color);
                &:hover {
                    background-color: var(--color-scheme-background-alt);
                }
            }
        }
    }
}
