// Colors
$primary: #f79d00;
$secondary: #64f38c;

$primary: #7d012b;
$primary-dark: darken( $primary, 10% );
$secondary: #3867D6;
$secondary-dark: darken( $secondary, 10% );



$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// Dark mode
$dark-bg: #1a1a1a;
$dark-bg-alt: #343434;
$dark-bg-diff: #474747;
$dark-text: #fff;
$dark-text-diff: #bfbfbf;
$dark-text-invert: #000;

// Light mode
$light-bg: #fff;
$light-bg-alt: #efefef;
$light-bg-diff: #dbdbdb;
$light-text: #000;
$light-text-diff: #404040;
$light-text-invert: #fff;
